* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Style for Navbar */
.nav {
  display: flex;
  justify-content: flex-end;
  background-color: #999;
  padding: 9px;
  font-size: 1.2rem;
  
}

.nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
}

.nav a:hover {
  color:bisque;
  text-decoration: underline;
}

.nav-item {
  list-style: none;
}

.nav-item:last-of-type {
  padding-right: 25px;
}